@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import "tailwindcss";
.moul-regular {
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
}
.montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}
